<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>enlaces</title>
</head>
<body>
    <h1>Nuestros enlaces</h1>
    <a href="/">para ir a la pagina de <em>titulo</em>, de click aqui</a>
    <br>
    <a href="/descripcion">para ir a la pagina de <em>descripcion</em>, de click aqui</a>
</body>
</html>